<configuration>
	<system.webServer>   
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>    
			 
		<defaultDocument>
			<files>
				<clear />
				<add value="app.js" />
			</files>
		</defaultDocument>

    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
    
    <iisnode nodeProcessCommandLine="C:\nodejs\node.exe"  />
	
	</system.webServer>
  
	<system.web>
    <customErrors mode="On"/>
  </system.web>

</configuration>