<div class="banner-down" *ngIf="viewShow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logedForm">
          <form>
            <div>

              <div class="form-group">
                <!-- <label for="uname"><b>Password</b></label> -->
                <h6 class="tlloged">Password</h6>
                <input type="password" placeholder="New password" class="emailBox" name="newPassword" [(ngModel)]="obj.newPassword">
              </div>
              <div class="form-group">
                <h6 class="tlloged">Confirm Password</h6>
                <input type="password" placeholder="confirm password" class="emailBox" name="confirmPassword" [(ngModel)]="obj.confirmPassword">

              </div>
              <input type='submit' class='sblgnbtn' id="finish" name='finish' value='Update Password' (click)="updatePassword(obj)" />
              <p style="color:#cd8c2f "><strong> {{resMsg}}</strong></p>
              <div class="orDown">
                <div></div>
              </div>
              
              <div class="backbtnlg">     
                <a [routerLink]="['/login']" class="backbtnlgn">Back Login Page</a>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>