mat-paginator.mat-paginator.paginator--centered {
  display: flex;
  justify-content: center;
  width: fit-content;
  color: white;
  font-size: 15px;
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

::ng-deep .mat-option-text {
  color: white !important;
}

::ng-deep .mat-select-arrow {
  color: white !important;
}

::ng-deep .mat-form-field-infix,
.mat-form-field-ripple {
  color: white !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: white !important;
}

.close {
  color: #d9534f;
  font-size: 36px;
  outline: none;
  opacity: 1;
  width: 46px;
}

.forWidth {
  width: 35%
}