<form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
  <div class="container testing">
    <div class="row">
      <div class="col-sm-4">

        <label>Current Password</label>
        <div class="form-group pass_show">
          <input type="text" class="form-control pw" placeholder="Current Password" name="currentPass" formControlName="currentPass">
        </div>
        <label>New Password</label>
        <div class="form-group pass_show">
          <input type="text" class="form-control pw" placeholder="New Password" name="newPass" formControlName="newPass">
        </div>
        <label>Confirm Password</label>
        <div class="form-group pass_show">
          <input type="text" class="form-control pw" placeholder="Confirm Password" name="confirmPass" formControlName="confirmPass">
        </div>
        <div>
          <button class="btn btn-primary" type="submit" value="submit" [disabled]="!resetPassForm.valid">Submit</button>
          <button class="btn btn-secondary alignButton" [routerLink]="['/dashboard']">Cancel</button>
        </div>
        <div>
          <!-- <a [routerLink]="['/dashboard']">Cancel</a> -->
        </div>
        <div style="color: red;">{{message}}</div>
      </div>
    </div>
  </div>
</form>