select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

.astris {
  color: red;
  position: absolute;
  right: -10px;
  top: -5px;
}

.form-group {
  position: relative;
}

.alignCancle {
  float: right;
}

.head-height {
  line-height: 14px;
}


mat-paginator.mat-paginator.paginator--centered {
  display: flex;
  justify-content: center;
  width: fit-content;
  color: white;
  font-size: 15px;
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

::ng-deep .mat-option-text {
  color: white !important;
}

::ng-deep .mat-select-arrow {
  color: white !important;
}

::ng-deep .mat-form-field-infix,
.mat-form-field-ripple {
  color: white !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: white !important;
}

.close {
  color: #d9534f;
  font-size: 36px;
  outline: none;
  opacity: 1;
  width: 46px;
}

.btn-store {
  border-radius: 10px;
}

.manager_table {
  max-height: 420px;
  display: block;
  overflow-y: auto;
}